.footer {
    position: relative;
    bottom: +10px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;
    line-height: 100px; /* Vertically center the text there */
    border-top: 1px solid black;
  }
  
  .share {
    margin-left: 40px;
    padding: 20px;
  }